%content-holder {
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.content-holder1 {
    @extend %content-holder;
    background-image: url(./../../img/video-bg.png);
}
.content-holder2 {
    @extend %content-holder;
    background-image: url(./../../img/we-are-the-best/bg.jpg);
}
.content-holder3 {
    justify-content: center;
    @extend %content-holder;
}