@font-face {
  font-family: Ubuntu-Medium;
  src: url(./../../fonts/ubuntu-font-family-0.83/Ubuntu-M.ttf); }
@font-face {
  font-family: Ubuntu-Regular;
  src: url(./../../fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf); }
