@font-face {
  font-family: Ubuntu-Medium;
  src: url(./../../fonts/ubuntu-font-family-0.83/Ubuntu-M.ttf); }
@font-face {
  font-family: Ubuntu-Regular;
  src: url(./../../fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf); }
@font-face {
  font-family: Ubuntu-Light;
  src: url(./../../fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf); }
@font-face {
  font-family: Gagalin-Regular;
  src: url(./../../fonts/gagalin/regular.otf); }
@font-face {
  font-family: Lifehack-Medium;
  src: url(./../../fonts/lifehack/medium.otf); }
