.button {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        $orange: #e45028;
        background-color: $orange;
        color: white;
        text-decoration: inherit;
        padding: 14px 30px;
        border-radius: 6px;
        text-transform: uppercase
    }
}