$moreBtn: #2f3234;
.comment {
    height: 100%;
    font-family: Ubuntu-Light;
    list-style-type: none;
    color: #fff;
    padding: 0 26px;
    visibility: hidden;
    background-color: rgba(1,1,1,0.5);
    &__item {
        display: flex;
    }
    & h3 {
        font-family: Gagalin-Regular, Ubuntu-Light;
        text-transform: uppercase;
        margin: 28px 0 0 0
    }
    & p {
        font-family: Ubuntu-Light
    }
    &__btn {
        color: #fff;
        background-color: $moreBtn;
        border-radius: 4px;
        text-decoration: none;
        padding: 14px 18px;
        text-transform: uppercase;
        margin: 10px 0 0 0
    }
}