.reviews {
    min-width: 800px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &__item {
        flex: 1;
        // height: 325px;
        // max-width: 550px;
        // min-width: 275px;
        // ratio = 1.(18);
        min-width: 400px;
        max-width: 800px;
        height: 480px;
        background-repeat: no-repeat;
        background-size: cover;
        @for $i from 1 through 8 {
            &_img#{$i} {
                background-image: url(./../../img/feedback/cropped/img#{$i}.png)
            }
        }
    }
}