.floating {
  position: fixed;
  top: 50px;
  right: 6%;
  padding: 0;
  list-style-type: none; }
  .floating__item {
    width: 16px;
    height: 16px;
    background-image: url(./../../img/ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px; }
    .floating__item:first-child {
      background-image: url(./../../img/ellipse-selected.png); }
