.message {
  width: 90%;
  height: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  visibility: hidden; }
  .message h3 {
    font-family: Gagalin-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
    margin: 0; }
  .message p {
    font-family: Ubuntu-Light;
    font-size: large; }
  .message__btn {
    color: #fff;
    background-color: #2f3234;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 18px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    align-self: flex-start; }
